torch
transformers
accelerate
bitsandbytes
peft
datasets
tree_sitter
tree_sitter_python
tree_sitter_languages
tqdm
huggingface_hub
dotenv
requests
fastapi
uvicorn
flask
protobuf
matplotlib
numpy
flask[async]